* {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

/* Header Section Start */

.header {
  background-image: url("img/banner/banner2.png");
  background-size: cover;
}
.bnr {
  text-align: right;
  margin-left: 45%;
  padding: 150px 200px;
}
.bnr-hdline {
  font-weight: 700;
  font-size: 50px;
  margin-bottom: 20px;
  color: #000000;
}
.bnr-desc {
  font-weight: 400;
  font-size: 16px;
  color: #393638;
  margin-bottom: 20px;
  line-height: 25px;
}
.btn {
  color: red;
  background-color: white;
  padding: 15px 20px;
  border-radius: 10px;
  border: 0;
  font-size: 15px;
  font-weight: 600;
}
.btn:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(65, 251, 65);
}

/* My Failure Section */

.myfail {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 200px;
}
.myfail-info {
  margin-right: 60px;
  padding: 50px;
  text-align: left;
}
.myfail-tittle {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 20px;
}
.myfail-desc {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  line-height: 26px;
  margin-bottom: 10px;
}
.myfail-info li {
  font-weight: 400;
  font-size: 16px;
  color: #444343;
  margin-top: 8px;
  list-style-type: "✓ ";
}

/* My Plan Section */

.myplan {
  padding: 100px 200px;
  text-align: center;
}
.myp-tittle {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 100px;
}
.myplans {
  display: flex;
  justify-content: center;
}
.myplans-info {
  padding: 0 50px;
}
.p-topic {
  margin-top: 15px;
  font-weight: 700;
  font-size: 25px;
  color: #151414;
}
.p-desc {
  margin-top: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #737272;
}
.imgs {
  width: 90px;
  height: 90px;
}

/* Radient Section */


.gradient-bg {
  background-image: linear-gradient(
      to left,
      rgba(255, 0, 0, 0),
      rgba(255, 0, 0, 0.879)
    ),
    url("img//watch.png");
  background-repeat: no-repeat;
  margin: 150px 220px;
  background-position: center;
  border-radius: 10px;
  border: 0;
}
.gra-items {
  padding: 50px;
  text-align: left;
  margin-right: 60%;
}
.gra-tittle {
  font-weight: 700;
  font-size: 40px;
  color: #ffffff;
  margin-bottom: 20px;
}

/* Extra Bonus Section 
  Which name as My Knowledges  in*/

.my-knowledge {
  text-align: center;
  margin: 100px 0;
}
.my-knowledge hr {
  margin: 0 400px;
  background-color: red;
  padding: 1px;
}
.knowledge-info img {
  height: 50px;
  width: 50px;
}

.knowledge {
  display: flex;
  gap: 50px;
  padding: 100px 200px;
}
.my-knowledge-tittle {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 20px;
}
.knowledge-info {
  text-align: center;
  box-shadow: 0px 6px 50px rgba(13, 207, 9, 0.246);
  border-radius: 100px;
  padding: 30px;
}
.knowledge-tittle {
  font-weight: 700;
  font-size: 20px;
  margin-top: 15px;
}
.knowledge-desc {
  margin-top: 15px;
  font-weight: 400;
  font-size: 16px;
  color: #757575;
}

/* Footer Section */

.footer {
  display: flex;
  gap: 350px;
  justify-content: space-between;
  padding: 150px 200px;
  background-color: #000000;
}
.contact {
  text-align: left;
}
.f-tittle {
  font-weight: 700;
  font-size: 45px;
  color: #ffffff;
  margin-bottom: 30px;
}
.f-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 10px;
}
.f-contact {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  padding: 10px 0;
  margin-bottom: 10px;
}
.contact a {
  margin-right: 15px;
}
.mesgform input[type="email"] {
  padding: 15px 20px;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid white;
  color: #ffffff;
  background-color: #000000;
}
